# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editores / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependências / cache
node_modules/
.cache/

# Env / secrets
.env
.env.*
!.env.example
